@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@-webkit-keyframes block1_move {
  0% {
    background-position: 0% 50%;
    -webkit-transform: rotate(-85deg);
            transform: rotate(-85deg);
    left: -40vh;
  }
  50% {
    background-position: 100% 50%;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    left: -80vh;
  }
  100% {
    background-position: 0% 50%;
    -webkit-transform: rotate(-85deg);
            transform: rotate(-85deg);
    left: -40vh;
  }
}
@keyframes block1_move {
  0% {
    background-position: 0% 50%;
    -webkit-transform: rotate(-85deg);
            transform: rotate(-85deg);
    left: -40vh;
  }
  50% {
    background-position: 100% 50%;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    left: -80vh;
  }
  100% {
    background-position: 0% 50%;
    -webkit-transform: rotate(-85deg);
            transform: rotate(-85deg);
    left: -40vh;
  }
}

@-webkit-keyframes block2_move {
  0% {
    background-position: 0% 50%;
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
    right: -190vh;
  }
  50% {
    background-position: 100% 50%;
    -webkit-transform: rotate(145deg);
            transform: rotate(145deg);
    right: -210vh;
  }
  100% {
    background-position: 0% 50%;
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
    right: -190vh;
  }
}

@keyframes block2_move {
  0% {
    background-position: 0% 50%;
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
    right: -190vh;
  }
  50% {
    background-position: 100% 50%;
    -webkit-transform: rotate(145deg);
            transform: rotate(145deg);
    right: -210vh;
  }
  100% {
    background-position: 0% 50%;
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
    right: -190vh;
  }
}

@-webkit-keyframes hero_gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes hero_gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", Courier, monospace;
}

html {
  padding: env(safe-area-inset);
}

body {
  position: relative;
  overflow: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body nav {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

body nav .nav-brand {
  height: 2.2em;
}

body .content {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body .content section {
  scroll-snap-align: start;
}

body .hero {
  background: #7973eb;
  background: linear-gradient(157deg, #7973eb 0%, #1389b3 45%, #4d75d6 100%);
  background-size: 200% 200%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  -webkit-animation: hero_gradient 30s ease infinite;
          animation: hero_gradient 30s ease infinite;
}

body .hero section {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

body #details {
  height: 100vh;
  background: #2684ba;
  background: -webkit-gradient(linear, left top, left bottom, from(#2684ba), to(#482d9e));
  background: linear-gradient(180deg, #2684ba 0%, #482d9e 100%);
}

body #integrations {
  scroll-snap-align: start;
  height: 100vh;
  background: #482d9e;
  background: -webkit-gradient(linear, left top, left bottom, from(#482d9e), to(#923add));
  background: linear-gradient(180deg, #482d9e 0%, #923add 100%);
}

body #download {
  scroll-snap-align: start;
  height: 100vh;
  background: #923add;
  background: -webkit-gradient(linear, left top, left bottom, from(#923add), to(#3a71dd));
  background: linear-gradient(180deg, #923add 0%, #3a71dd 100%);
}

body #demo {
  scroll-snap-align: start;
  height: 100vh;
  background: #3a71dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a71dd), to(#68ebec));
  background: linear-gradient(180deg, #3a71dd 0%, #68ebec 100%);
}

.block1 {
  position: absolute;
  bottom: -250vh;
  left: -40vh;
  -webkit-transform: rotate(-85deg);
          transform: rotate(-85deg);
  width: 250vh;
  height: 250vh;
  background-color: #00dbde;
  background-image: -webkit-gradient(linear, left top, right top, from(#fc00ff), to(#00dbde));
  background-image: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
  opacity: 25%;
  background-size: 200% 200%;
  -webkit-animation: block1_move 30s ease infinite;
          animation: block1_move 30s ease infinite;
}

.block2 {
  position: absolute;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  right: -190vh;
  width: 300vh;
  height: 150vh;
  background-size: 200% 200%;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  opacity: 25%;
  -webkit-animation: block2_move 40s ease infinite;
          animation: block2_move 40s ease infinite;
}

.rnd-btn {
  border-radius: 25px;
}

.mgc-color {
  color: #4fc9d3;
}
/*# sourceMappingURL=main.css.map */