@keyframes block1_move {
  0% {
    background-position: 0% 50%;
    transform: rotate(-85deg);
    left: -40vh;
  }
  50% {
    background-position: 100% 50%;
    transform: rotate(-60deg);
    left: -80vh;
  }
  100% {
    background-position: 0% 50%;
    transform: rotate(-85deg);
    left: -40vh;
  }
}

@keyframes block2_move {
  0% {
    background-position: 0% 50%;
    transform: rotate(130deg);
    right: -190vh;
  }
  50% {
    background-position: 100% 50%;
    transform: rotate(145deg);
    right: -210vh;
  }
  100% {
    background-position: 0% 50%;
    transform: rotate(130deg);
    right: -190vh;
  }
}

@keyframes hero_gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;

  nav {
    .nav-brand {
      height: 2.2em;
    }
  }

  .hero {
    background: rgb(121, 115, 235);
    background: linear-gradient(
      157deg,
      rgba(121, 115, 235, 1) 0%,
      rgba(19, 137, 179, 1) 45%,
      rgba(77, 117, 214, 1) 100%
    );
    background-size: 200% 200%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    animation: hero_gradient 30s ease infinite;
  }
}

.block1 {
  position: absolute;
  bottom: -250vh;
  left: -40vh;
  transform: rotate(-85deg);
  width: 250vh;
  height: 250vh;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
  opacity: 25%;
  //mix-blend-mode: overlay;
  background-size: 200% 200%;
  animation: block1_move 30s ease infinite;
}

.block2 {
  position: absolute;
  transform: rotate(130deg);
  right: -190vh;
  width: 300vh;
  height: 150vh;
  background-size: 200% 200%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  opacity: 25%;
  animation: block2_move 40s ease infinite;
  //mix-blend-mode: overlay;
}
